# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: gocommon CI (Go)

on:
  pull_request:
    paths:
      - 'gocommon/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
 build_gocommon:
    name: gocommon Build and Test (Go)
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
    - name: Chdckout PR branch
      uses: actions/checkout@v5

    - name: Set up Go (1.24.0)
      uses: actions/setup-go@v6
      with:
        go-version: '1.24.0'
        check-latest: true
        cache-dependency-path: ./gocommon/go.sum
    
    # - name: Build gocommon
    #   working-directory: ./gocommon
    #   run: go build -v

    - name: Test gocommon
      working-directory: ./gocommon
      run: go test -v ./...
